html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  padding-top: 60px;
  padding-bottom: 154px; /* */
  /* height: 550px; */
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header-wrapper {
  margin: 0;
  padding: 0;
}

.header-logo {
  float: left;
  width: 140px;
  height: 76px;
}

nav.header-navigation {
  float: right;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 19px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-navigation li {
  display: inline-block;
}

.header-navigation li:not(:last-child) {
  margin-right: 50px;
}

.header-navigation li > a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.page-header p {
  margin: 0;
  margin-top: 120px;
  padding: 0;
  text-align: center;

  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  color: #ffffff;
}

/* Новинки */
.new h2 {
  margin-top: 80px;

  line-height: 60px;
  text-transform: uppercase;
}

.new__catalog {
  margin-top: 75px;
}

.new__catalog__item {
  width: 398px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.new__catalog__item:first-of-type {
  float: left;
  border-right-color: transparent;
}

.new__catalog__item:last-of-type {
  float: right;
}

.new__catalog__item h3 {
  margin: 0;
  margin-left: 35px;
  padding: 0;

  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.item-description {
  margin-right: 25px;
  float: right;

  border-collapse: collapse;
  line-height: 40px;
}

.item-description td {
  padding: 10px 15px;

  border: 1px solid #e5e5e5;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-under {
  float: right;
  width: 170px;
}

.item-bottom {
}

/* adventages */
.adventages {
  padding-top: 80px;
  padding-bottom: 85px;
  background-color: #ffcb78;
}

.container-large {
  max-width: 1015px;
  margin: 0 auto;
}

.adventages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.adventages__list li {
  padding-top: 104px;
  float: left;
  position: relative;

  border-right: 1px solid #e5b66c;
}

.adventages__list li:first-child {
  width: 307px;
}

.adventages__list li:nth-child(2) {
  text-align: center;
  width: 399px;
}

.adventages__list li:last-child {
  width: 303px;
  border-right-color: transparent;
  text-align: center;
}

.adventages__list li h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.adventages__list li::before {
  content: "";
  position: absolute;
}

.adventages__list li:nth-child(1)::before {
  top: 0;
  left: 0;
  width: 50px;
  height: 68px;
  background-image: url("../img/icon-brew.png");
  background-repeat: no-repeat;
}

.adventages__list li:nth-child(2)::before {
  top: 0;
  left: 0;
  width: 46px;
  height: 65px;
  background-image: url("../img/icon-matreshka.png");
  background-repeat: no-repeat;
}

.adventages__list li:nth-child(3)::before {
  top: 0;
  left: 0;
  width: 63px;
  height: 58px;
  background-image: url("../img/icon-thumbsup.png");
  background-repeat: no-repeat;
}

.adventages__list li p {
  padding: 0;
  margin: 0;
  margin-top: 23px;

  width: 210px;

  font-size: 16px;
  font-weight: regular;
  line-height: 30px;
  color: #404040;
}

.adventages__list li:last-child p {
  float: right;
}

/* History */

.history h2 {
  margin-top: 80px;

  line-height: 60px;
  text-transform: uppercase;
}

.history dl {
  margin-bottom: 85px;
}

.history dt {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.history i {
  float: right;
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  font-style: italic;
  color: #444444;
}

.history a {
  margin-left: auto;
  font-size: 16px;
  font-weight: normal;
  color: #834700;
}

.history dd {
  margin: 0;
}

.history img {
  float: right;
  margin-top: 10px;
}

.history p {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 485px;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: #404040;
}
/* Press */

.press {
  padding-top: 80px;
  padding-bottom: 85px;
  background-color: #ede5d8;
}

.press h2 {
  margin-bottom: 75px;

  line-height: 60px;
  text-transform: uppercase;
}

.press blockquote {
  margin: 0;
  padding: 0;
}

.press p {
  position: relative;
  margin: 0;
  margin-right: 110px;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #404040;
}

.press p::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 31px;
  top: 0;
  left: -106px;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
}

.press cite {
  margin-top: 45px;
  float: right;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.btn {
  padding: 15px 20px;

  border: 2px solid #a5a097;
  font-size: 16px;
  font-weight: bold;
  color: #a5a097;
  text-decoration: none;
  text-transform: uppercase;
}

.press__btn {
  display: inline-block;
  margin-top: 35px;
}

/* Catalog */
.catalog {
  padding-top: 90px;
  padding-bottom: 80px;
}

.catalog h2 {
  margin-bottom: 75px;

  line-height: 60px;
  text-transform: uppercase;
}

.catalog__table {
  width: 100%;
  border-collapse: collapse;
  line-height: 60px;
}

.catalog__table tr {
  border-bottom: 1px solid #e5e5e5;
}

.catalog__table tr:nth-child(3) {
  line-height: 63px;
}

.catalog__table th {
  text-transform: uppercase;
  color: #999999;
  font-size: 11px;
  font-weight: normal;
}

.catalog__table th:first-child {
  text-align: start;
}

.catalog__table th:last-child {
  text-align: end;
}

.catalog__table td {
  text-transform: uppercase;
  color: #404040;
}

.catalog__table td:not(:first-child) {
  text-align: center;
}

.catalog__table td:first-child {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.catalog__table td sup {
  margin-left: 25px;
  padding: 2px 5px 2px;
  width: 50px;

  border-radius: 2px;
  color: #ffffff;
  font-size: 8px;
  font-weight: bold;
  background-color: #000000;
}

.catalog__table td:last-child {
  text-align: end;
}
