html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  padding-top: 60px;
  min-height: 550px;
  background-image: url("../img/wheat-back.jpg");
  background-position: bottom;
  background-size: cover;
}

.header-wrapper {
  margin: 0;
  padding: 0;
}

.header-logo {
  float: left;
  width: 140px;
  height: 76px;
}

nav.header-navigation {
  float: right;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-navigation li {
  display: inline-block;
}

.header-navigation li:not(:last-child) {
  margin-right: 50px;
}

.header-navigation li > a {
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  font-weight: bold;
}

.page-header p {
  margin: 0;
  margin-top: 120px;
  padding: 0;
  text-align: center;

  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  color: #ffffff;
}

.new h2 {
  margin-top: 95px;
}

.new h3 {
  margin: 0;
  margin-left: 35px;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.new__container {
  margin-top: 90px;
  width: 50%;
}

.new__container:first-of-type {
  float: left;
}

.new__container:last-of-type {
  float: right;
}

.new__container__description {
  float: right;
}

.adventages {
  margin-top: 110px;
  margin-bottom: 93px;
  background-color: #e5b66c;
}

.container-large {
  max-width: 1015px;
  margin: 0 auto;
}

.adventages__list {
  margin: 0;

  padding: 0;
  list-style: none;
}

.adventages__list li {
  height: 222px;
  width: 338px;
  padding-top: 188px;
  float: left;
  position: relative;
}

.adventages__list li::before {
  content: "";
  position: absolute;
}

.adventages__list li:nth-child(1)::before {
  top: 108px;
  left: 0;
  width: 50px;
  height: 68px;
  background-image: url("../img/icon-brew.png");
  background-repeat: no-repeat;
}

.adventages__list li:nth-child(2)::before {
  top: 105px;
  left: 0;
  width: 46px;
  height: 65px;
  background-image: url("../img/icon-matreshka.png");
  background-repeat: no-repeat;
}

.adventages__list li:nth-child(3)::before {
  top: 98px;
  left: 0;
  width: 63px;
  height: 58px;
  background-image: url("../img/icon-thumbsup.png");
  background-repeat: no-repeat;
}

.adventages__list li h2 {
  font-size: 20px;
  font-weight: bold;
}

.adventages__list li p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: regular;
  line-height: 30px;
  color: #404040;
}

.press {
  padding-top: 95px;
  padding-bottom: 90px;
  background-color: #ede5d8;
}

.press h2 {
  margin-bottom: 86px;
}

.press blockquote {
  margin: 0;
  padding: 0;
}

.press p {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #404040;
}

.press p::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 31px;
  top: 0;
  left: -106px;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
}

.press cite {
  margin-top: 53px;
  float: right;

  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.btn {
  padding: 17px 23px 20px;
  margin-bottom: 90px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
}

.press__btn {
  display: inline-block;
  margin-top: 45px;
}
